/* about.css */
.about-us-section {
    background-color: #B0B0B0; /* Gri metalic */
    color: #333333; /* Text gri închis */
}

/* team.css */
.team-section {
    background-color: #B0B0B0; /* Gri metalic */
}

.team-box {
    background-color: #FFFFFF; /* Alb pentru contrast */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* services.css */
.services-section {
    background-color: #f4f4f4; /* Gri deschis */
}

.service-box {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
