/* Secțiunea Our Team */
.team-section {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.section-title {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
    position: relative;
}

.section-title::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #FF5722;
    display: block;
    margin: 10px auto 0;
}

/* Stil pentru fiecare membru al echipei */
.team-content {
    display: flex;
    justify-content: space-around; /* Distribuie echipa uniform */
    flex-wrap: wrap;
    gap: 5px; /* Spațiu între membrii echipei */
}

.team-box {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* O umbră subtilă */
    width: 230px; /* Lățime fixă pentru casete */
}

.team-section .row img {
    width: 250px;
    height: 250px;
    border-radius: 15px; /* Colțuri rotunjite ușor */
    object-fit: cover;
    margin-bottom: 20px;
}


.team-box h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.team-box p.title {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
    font-style: italic;
}

/* Media Queries pentru responsive design */
@media (max-width: 768px) {
    .team-content {
        flex-direction: column;
        align-items: center;
    }

    .team-box {
        width: 100%; /* Fiecare membru al echipei va ocupa toată lățimea pe ecrane mici */
    }

    .team-box img {
        width: 120px;
        height: 120px;
    }
}
