/* Secțiunea "Get a Quote" */
.quote-section {
    background-color: #FF5722;; /* Fundal portocaliu */
    padding: 40px 0;
    text-align: center;
}

.quote-section h2 {
    color: white; /* Text alb */
    font-size: 24px;
    font-style: italic;
    margin-bottom: 20px;
}

.quote-button {
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.quote-button:hover {
    background-color: white;
    color: #FF5722;
}

/* Media Queries pentru secțiunea "Get a Quote" */
@media (max-width: 768px) {
    .quote-section h2 {
        font-size: 20px;
    }

    .quote-button {
        padding: 8px 16px;
    }
}
